name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
    - name: Install Packages
      run: npm install
    - name: Lint Files
      run: npm run lint

  test_on_node:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14.x, 13.x, 12.x, 10.x, "10.12.0"]
        include:
        - os: windows-latest
          node: "12.x"
        - os: macOS-latest
          node: "12.x"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: Install Packages
      run: npm install
    - name: Test
      run: npm test
