name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '16.x'
    - name: Install Packages
      run: npm install
    - name: Lint Files
      run: npm run lint

  test_on_node:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [21.x, 20.x, 18.x, "18.18.0"]
        include:
        - os: windows-latest
          node: "lts/*"
        - os: macOS-latest
          node: "lts/*"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - name: Install Packages
      run: npm install
    - name: Test
      run: npm test
